
/* ////////////////////////////////// FONT IMPORTs///////////////////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* ///////////////////////Gestion des BALISES PRINCIPALES///////////////////////////////// */


:root{
    --cinzel: "Cinzel", serif;
    --satisfy: "Satisfy", cursive;
    --black: #000000;
    --white: #ffffff;
    --green: #37555a;
    --pink: #ac7d77;
    --grey: #494949;
}

.exemple{
    font-family: var(--satisfy);
    color: var(--black);
}

html{
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav{
    width: 60%;
    height: auto;
    font-family: var(--cinzel);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.navprinc{
    position: relative;
}

.navcontent > a{
    font-family: var(--satisfy);
    color: var(--black);
    text-decoration: none;
    font-size: 18px;
}

.navcontent{
    overflow: hidden;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
}

.navcolor{
    width: 100%;
    margin: 5px;
    box-shadow: 0px 5px 5px black;
    position: relative;
    background: rgba(240,242,155,0.34);
    z-index: 1;
    display: flex;
    text-align: center;
    align-self: flex-end;
    border-radius: 40px;
    align-items: center;
}

.navnocontent{
    height: 28px;
    width: 100%;
}

.mininav{
    display: none;
}

menu.mininav{
    padding-left: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url(/public/assets/image/stonezen.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

.rgpd{
    height: 350px;
    padding: 10px;
    font-family: "Satisfy", cursive;
    background-color: white;
}

header, footer{
    color: #37555a;
    width: 100%;
}

.soc > img{
    width: 40px;
}

footer {
    font-family: var(--cinzel);
    display: flex;
    justify-content: space-around;
    background: #ffffff4d;
    position: absolute;
    bottom: 0px;
}

footer > a{
    height: 40px;
    color: rgb(55, 85, 90);
    text-decoration: none;
}

/* /////////////////////////////////// Gestion du CONTENU /////////////////////////////////////// */

.contourphoto{
    margin-top: 20px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    float: left;
}

.photocadre{
    height: 150px;
    width: 100px;
    overflow: hidden;
}
.photo{
    color: var(--grey);
    filter: grayscale(1);
    height: 150px;
    width: 100px;
    overflow: hidden;
    transition: transform 0.4s ease;
}

.prenom{
    color: white;
    font-family: var(--satisfy);
}

.etp{
    font-family: var(--satisfy);
    display: flex;
    justify-content: start;
    width: 30%;
}



.imgetp{
    position: relative;
    z-index: 1;
}

.etpcontent{
    padding-right: 15px;
    display: flex;
    justify-content: center;
}

.grayscale{
    display: inline-block;
    margin: 1px;
    background: rgba(128, 255, 247, 0.30);
    border-radius: 10px;
    box-shadow: 3px 2px 2px rgb(0, 0, 0);
    transition: transform 0.3s ease;
}

img.imgetp {
    filter: drop-shadow(10px 5px 5px black);
}

 .etpname{
    z-index: 2;
    font-size: 30px;
    position: absolute;
    display: flex;
    justify-items: center;
    margin-top: 4%;
    filter: drop-shadow(3px 5px 2px rgb(37, 36, 36));

 }

 .clientname{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    margin-top: 8%;
    color: #ac7d77;
 }

.icones{
    display: flex;
    justify-content: center;
}


.logo{
    padding: 10px;
    height: 90px;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    margin-right: 20px;
}

.logoaccueil{
    width: 10%;
}

img#logoaccueuil{
    height: 75px;
    filter: drop-shadow(10px 5px 5px black);
}

.logotext {
    font-size: 20px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.logotext > a{
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    text-decoration: none;
    font-family: "Satisfy", cursive;
    color: white;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 1%;
    filter: drop-shadow(3px 2px 1px black);
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

a.entretientitre{
    font-family: "Cinzel", serif;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.entretientitre{
    overflow: hidden;
    display: inline-block;
    transition: transform 0.3s ease;
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

.maincontent
{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.maintext{
    width: 80%;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textprinc{
    height: 350px;
    overflow-y: auto;
    padding: 5px;
    background: rgba(107,191,168,0.45);
    box-shadow: 0px 5px 5px black;
    border-radius: 50px;
    font-family: "Satisfy", cursive;
    z-index: 2;
    font-weight: lighter;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* .textprinc{
        height: 100%;
        overflow-y: scroll;
        overflow-y: hidden;
    } */
}

.textprinc > h1{
    margin: 0px;
}

.textprinc > p{
    margin: 0px;
}

.textprinc > h1{
    font-family: "Cinzel", serif;
    font-size: 26px;
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

.menubulles{
    visibility: hidden;
    margin-left: 100px;
    overflow-y: hidden;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    justify-content: start;
}

.bulle{
    width: 130px;
    height: 130px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.bulle > img{
    height: 130px;
}

.bubu1{
    opacity: 0.8;
    position: absolute;
    z-index: 2;
    height: 150px;
    filter: drop-shadow(10px 5px 5px black);
}

.bubu2{
    opacity: 0.6;
    position: absolute;
    z-index: 1;
    height: 150px;
    filter: drop-shadow(10px 5px 5px black);
}

.text{
    font-size: 22px;
    z-index: 3;
    filter: drop-shadow(2px 1px 1px rgb(0, 0, 0));

}

.text > a{
    font-family: "Satisfy", cursive;
    text-decoration: none;
    color: white;
    filter: drop-shadow(2px 1px 1px rgb(0, 0, 0));

}

.bubulle{
    margin-bottom: 15px;
}


/* ///////////////////////////////////////////////////////////////////////// */
                                /* CONTACT FEUILLE */
/* ///////////////////////////////////////////////////////////////////////// */

img.birdfeuille {
    opacity: 0.8; /* Ajoute une trasnparence de 80% d'opacité */
    height: 130px; /* Définit la hauteur à 130 pixels */
    z-index: 1; /* Place l'image en dessous du texte écrire */
    position: absolute; /* Positionne l'image d'une façon' absolue*/
    right: 20px; /* Positionne l'image*/
    bottom: 45px; /* Positionne l'image*/
    filter: drop-shadow(10px 5px 5px black); /* Ajoute del'ombre */
}

.ecrire {
    color: var(--black); /* Couleur du texte*/
    z-index: 2; /* Place le texte au-dessus de l'image birdfeuille */
    position: absolute; /* Positionne le texte d'une façon' absolue*/
    right: 4px; /* Positionne le texte */
    bottom: 77px; /* Positionne le texte*/
}




.logocontact> img{
    width: 38px;
}

.textcontact{
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    color: #37555A;
    font-family: "Satisfy", cursive;
}

a.textcontact{
    /* color: rgb(55, 85, 90); */
    color: black;
    font-size: 24px;
}

.textcontact :hover{
    transform: scale(1.5);
}

a.textcontact :hover{
    transform: scale(1.5);
}

.ecrire > .textcontact :hover{
    transform: scale(1.5);
}

.contact{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 18px;
    font-family: "Cinzel", serif;
    margin-bottom: 25px;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

.under{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.under::first-line{
    text-decoration: underline;
}


}

/* ///////////////////////////////// PAGE Connexion //////////////////////////////////////// */

.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.btnconnect{
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(58, 101, 107);
    margin-bottom: 5px;
    font-size: 18px;
    padding: 6px;
    border-radius: 18px;
    border: black 1px solid;
    background-color: #44ba9b;
    font-family: "Cinzel", serif;
    text-decoration: none;
    color: #37555A;
}


/* ///////////////////////////////////////////////////////////////////////// */
                                /* Gestion du FOOTER */
/* ///////////////////////////////////////////////////////////////////////// */

.mentions {
    width: 90%; /* La classe mentions prend 90% de la largeur */
    display: flex; /* Disposition en flexbox */
    justify-content: space-around; /* Espace les éléments */
    align-items: center; /* Centre les éléments verticalement */
}

.mentions > a { /*Gestion des liens contenus dans mentions*/
    text-decoration: none; /* Supprime le soulignement de texte */
    color: var(--black); /* Définit la couleur du texte en noir */
    display: flex; /* Disposition en flexbox */
    justify-content: center; /* Centre le texte horizontalement */
    font-size: 16px; /* Taille de la police à 16px */
    font-weight: bold; /* Met le texte en gras */
    text-align: center; /* Centre le texte à l'intérieur du lien */
}

/* ////////////////////////////////////////////////////////////////////// */
                                    /* RESPONSIVE */
/* ////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 1051px) {
    *{
        overflow-x: hidden;
    }
    .full-width-img {
    margin: auto;
    width: 90%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1050px) {
    *{
        overflow-x: hidden;
    }
    .full-width-img {
    margin: auto;
    width: 90%;
    }
    .clientname{
        font-size: 16px;
        margin-top: 8.5%;
    }
    .navcolor{
        border-radius: 20px;
    }
    .logotext > a{
        margin-right: 0px;
    }
    img#logoaccueuil {
        height: 60%;
    }
}

@media screen and (max-width: 700px) {
    *{
        overflow-x: hidden;
    }
    header{
        flex-direction: column;
        align-items: center;
    }
    nav{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    footer{
        position: absolute;
        bottom: 0;
        flex-direction: column;
        align-items: center;
    }
    button#mininav {
        border: 2px solid #226251;
        color: white;
        margin-bottom: 5px;
        font-family: "Cinzel", serif;
        font-weight: bold;
        box-shadow: 5px 5px 5px black;
        padding: 5px;
        align-content: center;
        height: 35px;
        width: 118px;
        text-decoration: none;
        background: rgb(107, 191, 168);
        background: radial-gradient(circle, rgba(107, 191, 168, 1) 40%, rgba(4, 168, 124, 1) 100%);
        margin-right: 8px;
        border-radius: 20px;
    }
    body{
        background-image: url(/public/assets/image/stonezenmobile.png);
    }

    .form{
        width: 100%;
    }
    .navcolor{
        display: none;
    }

    .navcolors{
        position: absolute;
    }

    .navcolorshow{
        display: block;
    }

    .mentions{
        width: 100%;
    }
    .mentions >a{
        width: 60%;
        text-align: center;
    }
    .maintext {
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 0px;
    }

    .imgetp{
        display: none;
    }
    .maincontent{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logoaccueil{
        display: none;
    }
    .full-width-img {
    margin: auto;
    width: 90%;
    }
    .textprinc{
        padding: 0px;
        font-size: 18px;
        border-radius: 10px;
        color: black;
        background: rgba(107,191,168,0.6);
    }
    .textprinc >h1{
        font-size: 22px;
    }
    .menubulles{
        display: none;
    }
    .etp{
        height: 80px;
        background-color: white;
        background: rgba(255, 255, 255, 0.5);
        display: block;
        justify-content: center;
        width: 100%;
        /* position: auto; */
    }
    .etpname{
        margin-top: 10px;
        color: black;
    }
    .clientname{
        margin-top: 40px;
        color: #5e1414;
    }
    .etpcontent{
        padding-right: 0px;
    }
    img.birdfeuille{
        display: none;
    }
    .ecrire{
        position: static;
        display: flex;
        align-items: center;
        padding: 5px;
    }
    a.textcontact{
        color: black;
        font-weight: 500;
        background: rgba(233, 172, 41, 0.6);
        border-radius: 20px;
        padding: 6px;
    }
    .navcolor{
        border-radius: 20px;
        background: rgba(240, 242, 155, 0.5);
    }
    .mininav{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        height: auto;

    }
    .mininav >a{
        border: 2px solid #226251;
        color: white;
        margin-bottom: 5px;
        font-family: "Cinzel", serif;
        font-weight: bold;
        box-shadow: 5px 5px 5px black;
        padding: 5px;
        align-content: center;
        height: auto;
        text-decoration: none;
        background: rgb(107,191,168);
        background: radial-gradient(circle, rgba(107,191,168,1) 40%, rgba(4,168,124,1) 100%);
        margin-right: 8px;
        border-radius: 20px;
    }
    .navcontent > a{
        margin-left: 8px;
        margin-bottom: 2px;
    }
    .form{
        width: 100%;
    }
}

/* ///////////////////////////////////////////////////////////////////////// */
                                    /* Gestion des ANIMATIONS */
/* ///////////////////////////////////////////////////////////////////////// */

.logo :hover{
    animation-name: bird-shaking;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}

@keyframes bird-shaking {
    0% { transform: translateY(0) }
    25% { transform: translateY(5px) }
    50% { transform: translateY(0px) }
    75% { transform: translateY(5px) }
    100% { transform: translateY(0) }
   }

   .menubulles {
    visibility: visible;
    animation: animbulles 0.8s ease-in-out;
   }

   .bubulle{
    animation: scale 0.8s ease-in-out;
   }
  
  @keyframes animbulles {
    0% {
        transform: translateY(40%) translateX(-10%) ;
      }
      10% {
        transform: translateY(35%) translateX(10%) ;
      }
      20% {
        transform: translateY(30%) translateX(-10%) ;
      }
      30% {
        transform: translateY(25%) translateX(10%) ;
      }
      40% {
        transform: translateY(20%) translateX(-10%) ;
      }
      50% {
        transform: translateY(15%) translateX(10%) ;
      }
      60% {
        transform: translateY(10%) translateX(-10%) ;
      }
      70% {
        transform: translateY(5%) translateX(-5%) ;
      }
      80% {
        transform: translateY(2%) translateX(-3%) ;
      }
      90% {
        transform: translateY(1%) translateX(0);
      }
      100% {
        transform: translateY(0.5%) translateX(0);
      }
  }

  @keyframes scale {
    0% {
        transform: scale(0);
      }
      10% {
        transform: scale(0.1);
      }
      20% {
        transform: scale(0.2);
      }
      30% {
        transform: scale(0.3);
      }
      40% {
        transform: scale(0.4);
      }
      50% {
        transform: scale(0.5);
      }
      60% {
        transform: scale(0.6);
      }
      70% {
        transform: scale(0.7);
      }
      80% {
        transform: scale(0.8);
      }
      90% {
        transform: scale(0.9);
      }
      100% {
        transform: scale(1);
      }
  }

  .birdfeuille{
    animation: feuille 5s ease-in-out;
  }

  @keyframes feuille{
    0%{
        transform: translateX(-200%) translateY(-400px);
    }
    15%{
        transform: translateX(-150%) translateY(-350px);
    }
    30%{
        transform: translateX(-175%) translateY(-300px);
    }
    45%{
        transform: translateX(-120%) translateY(-250px);
    }
    60%{
        transform: translateX(-150%) translateY(-200px);
    }
    75%{
        transform: translateX(-70%) translateY(-100px);
    }
    88%{
        transform: translateX(-110%) translateY(-60px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
  }

  .text1 > center{
    /* font-weight: bold; */
    font-size: 30.5px;
    animation: scaletext 1s;
    animation-iteration-count: 3;
  }

  @keyframes scaletext{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
  }
  
/* ///////////////////////////////////////////////////////////////////////// */
                                    /* CSS côté BACK */
/* ///////////////////////////////////////////////////////////////////////// */

.mainconnect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect{
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    color: white;
    background-color: black;
    display: flex;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.connexion, .inscription{
    text-decoration: none;
    font-size: 22px;
}

.contentconnect{
    padding: 10px;
    width: 400px;
    border-radius: 50px;
    color: white;
    background-color: black;
    display: flex;
    justify-items: center;
    align-items: center;
}


/* ///////////////////////////////////////////////////////////////////////// */
                                    /* CAROUSSEL */
/* ///////////////////////////////////////////////////////////////////////// */
.slider-wrapper {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .slides-container {
    display: flex;
    list-style: none;
    scroll-behavior: smooth;
    overflow: hidden;
  }
  
  .slide {
    min-width: 100%;
    transition: transform 0.5s ease;
  }
  
  .slide img {
    width: 100%;
    display: block;
  }
  
  .slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
  }
  
  #slide-arrow-prev {
    left: 10px;
  }
  
  #slide-arrow-next {
    right: 10px;
  }

  /* //////////////////////////////// Formulaire de contact ///////////////////////////////////////// */



.message{
    margin-top: 5px;
}

.form{
    color: white;
    display: flex;
    justify-content: center;
}

.formulaire{
    overflow: hidden;
    background-image: url(/public/assets/image/zen.jpg);
    background-size: cover;
    height: 350px;
    padding: 20px;
    font-family: "Cinzel", serif;
    border-radius: 50px;
    box-shadow: 2px 2px 15px black;
}
.formulaire {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    color: #fff;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}

.nouscontacter {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 5px 0; /* Marge nulle en haut et marge de 10px en bas */
}

.formulaire div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px; /* Réduit l'espacement entre les sections */
}

.formulaire label {
    font-weight: bold;
    color: #fff;
    margin-bottom: 3px;
    font-size: 13px;
}

.formulaire input[type="text"],
.formulaire input[type="email"],
.formulaire input[type="tel"],
.formulaire textarea {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(17, 67, 54, 0.5);
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formulaire input[type="text"]:focus,
.formulaire input[type="email"]:focus,
.formulaire input[type="tel"]:focus,
.formulaire textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
    outline: none;
}

.formulaire input::placeholder,
.formulaire textarea::placeholder {
    color: #bbb;
    font-style: italic;
}

.error-message {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 3px;
    font-style: italic;
}

.envoyer .button button {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
}

#submit {
    background-color: #2c94d5;
}

#submit:hover {
    background-color: #034a76;
}

#reset {
    background-color: #dc3545;
}

#reset:hover {
    background-color: #760813;
}

.envoyer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Réduit l'espacement entre les boutons */
}

@media (max-width: 400px) {
    .envoyer {
        flex-direction: column;
        gap: 5px; /* Réduit l'écart entre les boutons */
    }

    .button {
        width: 100%;
    }

    .button button {
        width: 100%;
    }
}